<h1 class="text-center mb-4">Edit Picture</h1>

<%= render "form", picture: @picture %>

<br>

<div>
  <%= link_to "Show this picture", @picture %> |
  <%= link_to "Back to pictures", pictures_path %>
</div>
