<div id="pictures">
  <% @pictures.each do |picture| %>
    <%= link_to picture, class: "picture mx-3" do %>
          <%= image_tag picture.image.variant(resize_to_fit: [250, 250]) %>
    <% end %>
  <% end %>
</div>
