/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html body {
  background-color: #D4DFCF;
}

#nav-link-color {
  color: white;
}

i {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
}

.thumbnail-count {

  text-decoration: none;
  color: grey;
}

#pictures {
  display: flex;
  flex-wrap: wrap;
}

.picture {
  margin: 1rem;
}

.content-item {
  padding: 1rem;
  background-color:#C1CEC1;
}

.content-title h1 {
  font-size:36px;
  margin: 0rem 0;
}

.content-title h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;

}

.box {
  background-color:#C8CFC2;
  padding:10px 20px;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.box ul {
  margin:0;
}

.box ul li {
  font-size:13px;
  border-bottom:1px dashed grey;
  padding:10px 0;
  font-weight:600;
}

.box ul li:last-child {
  border-bottom:0;
}

.box ul li i {
  font-size:18px;
  margin-right: 1rem;
}

.avatar-small {
  border-radius: 50%;
  width: 70px;
  height: auto;
}
